<launch>
  <node type="web_video_server" pkg="web_video_server" name="web_video_server"/>
  
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch">
    <arg name="enable_raw" value="true"/>
  </include>
  
  <node
    pkg="image_transport"
    type="republish"
    name="republish_camera"
    output="screen"
    args="raw in:=/raspicam_node/image
          compressed out:=/raspicam_node/image/compressed_image">
  </node>
  
</launch>
